html {
  font-size: 12px;
  background-color: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  font-size: 1.4rem;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-color: white;
  position: fixed;
  width: 100%;
}

header nav {
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto 20px;
}

main {
  padding: 20px 40px 40px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

main h1 {
  line-height: 60px;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 1.2rem;
}

main form {
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-color: white;
  border-radius: 10px;
  width: 600px;
  padding-top: 20px;
}

main form > div {
  margin: 20px;
  font-size: 1.2rem;
  display: block;
}

main form div label {
  text-align: right;
  width: 160px;
  line-height: 40px;
  display: inline-block;
}

main form div input,
main form div select {
  padding-left: 10px;
  background-color: #f6f6f6;
  border: 1px solid #ebebeb;
  height: 32px;
  width: 300px;
  border-radius: 4px;
}

main form div input[type='checkbox'],
main form div input[type='radio'] {
  width: 15px;
  height: inherit;
  margin: 5px;
}

main form div input[type='checkbox'] ~ label,
main form div input[type='radio'] ~ label {
  text-align: left;
  width: auto;
  line-height: 32px;
}

main form div p {
  padding: 0 30px;
  line-height: 24px;
  font-weight: bold;
}

main form div textarea {
  width: 88%;
  height: 300px;
  margin: 30px;
  line-height: 24px;
  border-radius: 4px;
  background-color: #f6f6f6;
}

main form div div {
  width: 100%;
  text-align: center;
}

/* 必填项 */
.must:after {
  content: '  *       ';
  color: orangered;
  font-size: 1.4rem;
}

.verifyCode {
  height: 20px;
  padding: 10px;
  display: block;
}

#verifiCode {
  width: 160px;
  justify-self: right;
  display: block;
  margin: auto;
}

main form div input[type='submit'] {
  margin: 40px auto;
  display: block;
  background-color: #0084ff;
  color: #fff;
  height: 40px;
  cursor: pointer;
}
