body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* nav bar */

.navbar {
  margin-bottom: 0;
  height: 50px;
  border-radius: 0;
}

.navbar-brand {
  padding: 6px 6px;
}

.container-fluid {
  background-color: #080808;
}

/* main pictures */

main {
  height: 100%;
  flex: 1;
  display: flex;
}

.carousel {
  margin-top: 50px;
}

.carousel-indicators {
  position: relative;
  top: -25px;
  bottom: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.item {
  height: 125vw;
}

@media (min-width: 1200px) {
  .item {
    height: 45vw;
  }
}

/* footer */

footer {
  background-color: #333333;
}

footer a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  color: #409eff;
  text-decoration: none;
}

.row {
  margin-top: 30px;
  margin-left: 110px;
}

@media (max-width: 768px) {
  .row {
    margin-top: 30px;
    margin-left: 0;
  }
}

.copyright {
  color: white;
  text-align: center;
}
